* {
  list-style: none;
}

body {
  background-color: #f0f0f0;
}

header {
  font-family: "Black Han Sans", sans-serif;
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#banner {
  text-align: center;
}

#banner a {
  font-size: 8vw;
  color: #000000;
  z-index: 1;
  position: relative;
  line-height: 25vw;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: space-between;
}

aside {
  width: 30%;
  background-color: #f0f0f0;
}

#sidebar {
  padding: 10px;
}

#sidebar div {
  margin-bottom: 10px;
}

#root {
  width: 65%;
  background-color: #fff;
  padding: 10px;
}

#currentDate {
  margin-bottom: 20px;
}

#title {
  font-size: 24px;
  font-weight: bold;
}

#content {
  line-height: 1.6;
}

#tag {
  color: #666;
}

button {
  margin-top: 20px;
}

#write > button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
#menu {
  padding: 0;
  margin-bottom: 20px;
}

#menu li {
  display: inline-block;
  margin-right: 10px;
}

#menu li:last-child {
  margin-right: 0;
}

#drop {
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  /* left: 70%; */
  margin-right: 20%;
}

#drop li {
  padding: 10px;
  cursor: pointer;
}

#drop li:hover {
  background-color: #ddd;
}

#contentSelect {
  display: none;
}
#tagSelect {
  display: none;
}

header > div:nth-of-type(2) {
  display: inline-block;
}
#recordimg {
  display: none;
  position: absolute;
  top: 6%;
  left: 50%;
  z-index: 0;
  height: 8vh;
  transform-origin: center;
}
#bannerdiv {
  background-image: radial-gradient(
    circle,
    #d8dee7,
    #c0c8d2,
    #a8b2be,
    #919daa,
    #7a8896
  );
  box-shadow: -8px 8px 6px 2px rgba(0, 0, 0, 0.32);

  width: 25vw;
  height: 25vw;
}
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }

  #root {
    width: 100%;
    margin-top: 20px;
  }
}
