#currentDate {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
}
#btn {
  display: flex;
  align-items: flex-end;
}
#search {
  display: none;
}
#recordimg {
  display: none;
}
* {
  font-family: "Noto Serif KR", serif;
  list-style: none;
}
header {
  position: relative;
  display: flex;
  height: 25vh;
  background-color: #333333e6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}
body {
  background-color: #f0f0f0;
  margin: 0;
}
#bannerdiv > a {
  font-family: "Black Han Sans", sans-serif;
  font-size: 5vw;
  text-decoration: none;
  color: white;
}
#drop {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  right: 1vw;
  top: 4.5vw;
}
#drop li {
  padding: 10px;
  cursor: pointer;
}

#drop li:hover {
  background-color: #ddd;
}
#selectmenu {
  background-color: #ddd;
  width: 15vw;
}
main {
  display: flex;
}
#sidebar {
  background-color: pink;
  width: 20vw;
}

form#writeHTML {
  display: flex;
  flex-direction: column;
}
#root {
  width: 100%;
  padding-right: 20vw;
}

input#title {
  height: 6vw;
}
input#content {
  height: 50vw;
}
#titlelist,
#contentlist,
#taglist {
  display: none;
}
